<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSMSGSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WSMSGSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws_sms.msg-server.net/wsmsg.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSMSGSoap"
                contract="SmsService.WSMSGSoap" name="WSMSGSoap" />
        </client>
    </system.serviceModel>
</configuration>