/* Menú Oculto, se muestra si la sesión es valida */
body {
    visibility: hidden;
}

.main-sidebar {
    visibility: hidden;
}

#nav_menu {
    visibility: hidden;
}

/* Fin Menú Oculto */

.content {
    padding: 5px;
}

.main-header {
    box-shadow: 0 3px 5px 0 #4788d4;
}

/******************************* CARD*/
.card-titulo {
    font-size: 20px;
    box-shadow: 0 2px 10px 2px #3f6b9a;
    margin-bottom: 5px;
}

.card-header {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 1px 8px 0 rgba(0,0,0,0.75);
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.75);
}

.card-body {
    padding-bottom: 1px;
}

.mc-description {
    z-index: 1;
}
/********************************/

/******************************* MODAL*/
.modal-title {
    text-align: center;
    margin: 0 auto;
}

.modal-header {
    text-align: center;
    -webkit-box-shadow: 0 1px 10px 3px #1c6cc1;
    -moz-box-shadow: 0 1px 10px 3px #1c6cc1;
    box-shadow: 0 1px 10px 3px #1c6cc1;
}

/******************************* SweetAlert2*/

.swal2-actions button {
    margin: 0 15px 0 15px;
}

.swal2-content {
    color: black;
}


.textoCentrado {
    text-align: center;
}

.dataTables_wrapper .dt-buttons {
    float: left;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #0275d8
}

table.dataTable.stripe tbody > tr.odd.selected, table.dataTable.stripe tbody > tr.odd > .selected, table.dataTable.display tbody > tr.odd.selected, table.dataTable.display tbody > tr.odd > .selected {
    background-color: #0272d3
}

table.dataTable.hover tbody > tr.selected:hover, table.dataTable.hover tbody > tr > .selected:hover, table.dataTable.display tbody > tr.selected:hover, table.dataTable.display tbody > tr > .selected:hover {
    background-color: #0271d0
}

table.dataTable.order-column tbody > tr.selected > .sorting_1, table.dataTable.order-column tbody > tr.selected > .sorting_2, table.dataTable.order-column tbody > tr.selected > .sorting_3, table.dataTable.order-column tbody > tr > .selected, table.dataTable.display tbody > tr.selected > .sorting_1, table.dataTable.display tbody > tr.selected > .sorting_2, table.dataTable.display tbody > tr.selected > .sorting_3, table.dataTable.display tbody > tr > .selected {
    background-color: #0273d4
}

table.dataTable.display tbody > tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_1 {
    background-color: #026fcc
}

table.dataTable.display tbody > tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_2 {
    background-color: #0270ce
}

table.dataTable.display tbody > tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_3 {
    background-color: #0270d0
}

table.dataTable.display tbody > tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_1 {
    background-color: #0273d4
}

table.dataTable.display tbody > tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_2 {
    background-color: #0274d5
}

table.dataTable.display tbody > tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_3 {
    background-color: #0275d7
}

table.dataTable.display tbody > tr.odd > .selected, table.dataTable.order-column.stripe tbody > tr.odd > .selected {
    background-color: #026fcc
}

table.dataTable.display tbody > tr.even > .selected, table.dataTable.order-column.stripe tbody > tr.even > .selected {
    background-color: #0273d4
}

table.dataTable.display tbody > tr.selected:hover > .sorting_1, table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_1 {
    background-color: #026bc6
}

table.dataTable.display tbody > tr.selected:hover > .sorting_2, table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_2 {
    background-color: #026cc8
}

table.dataTable.display tbody > tr.selected:hover > .sorting_3, table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_3 {
    background-color: #026eca
}

table.dataTable.display tbody > tr:hover > .selected, table.dataTable.display tbody > tr > .selected:hover, table.dataTable.order-column.hover tbody > tr:hover > .selected, table.dataTable.order-column.hover tbody > tr > .selected:hover {
    background-color: #026bc6
}

table.dataTable tbody td.select-checkbox, table.dataTable tbody th.select-checkbox {
    position: relative
}

    table.dataTable tbody td.select-checkbox:before, table.dataTable tbody td.select-checkbox:after, table.dataTable tbody th.select-checkbox:before, table.dataTable tbody th.select-checkbox:after {
        display: block;
        position: absolute;
        top: 1.2em;
        left: 50%;
        width: 12px;
        height: 12px;
        box-sizing: border-box
    }

    table.dataTable tbody td.select-checkbox:before, table.dataTable tbody th.select-checkbox:before {
        content: ' ';
        margin-top: -6px;
        margin-left: -6px;
        border: 1px solid black;
        border-radius: 3px
    }

table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after {
    content: '\2714';
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9
}

div.dataTables_wrapper span.select-info, div.dataTables_wrapper span.select-item {
    margin-left: 0.5em
}

@media screen and (max-width: 640px) {
    div.dataTables_wrapper span.select-info, div.dataTables_wrapper span.select-item {
        margin-left: 0;
        display: block
    }
}

table.dataTable tbody tr.selected, table.dataTable tbody th.selected, table.dataTable tbody td.selected {
    color: white
}

    table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a {
        color: #a2d4ed
    }





/*CSS para el loader de las páginas*/
.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0,174,239,.15);
    border-right: 6px solid rgba(0,174,239,.15);
    border-bottom: 6px solid rgba(0,174,239,.15);
    border-top: 6px solid rgba(0,174,239,.8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

.spinner {
    z-index: 10000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.small-box-footer{
    font-size: 20px;
}

.group {
    background-color: #81b3e9;
    font-weight: bold;
    font-size: 16px;
}

.dt-buttons .btn {
    border-radius: 10px !important;
}

.content-wrapper .swal2-content{
    text-align:left !important;
}

.swal2-content .dropdown-divider {
    border-color:#dc3545 !important;
}

/* CIRCULOS DATATABLE param IMAGENES */

.dt-fondo-circular-verde {
    background: GREENYELLOW;
    border: 6px solid transparent;
    border-radius: 50%;
}